.app-home__filters-btn {
  text-align: center;
}

.app-home__playlist {
  background-color: var(--main-bg-color);
  padding-top: 60px;
}

.app-home__playlist-name {
  background-color:#eae5e0;
  padding: 10px;
  text-align: center;
  margin: 0;
}
