.app-home__filters {
  background-color: var(--main-primary-darken-color);
  min-height: 100px;
  background-image: url('../static/loading-inverted.svg');
  background-repeat: no-repeat;
  background-position: center center;

  .filters-form {
    transition: opacity .3s ease-in-out;
    opacity: 0;
  }

  &.is-loaded {
    background-image: none;

    .filters-form {
      opacity: 1;
    }
  }
}

.app-home__filters-btn {
  text-align: center;
}

.app-home__playlist {
  padding-top: 60px;

  .app-home__playlist-name,
  .playlist-grid {
    transition: opacity .3s ease-in-out;
    opacity: 0;
  }

  &.is-loaded {
    .app-home__playlist-name,
    .playlist-grid {
      opacity: 1;
    }
  }
}

.app-home__playlist-name {
  background-color: var(--main-bg-darken-color);
  padding: 10px;
  text-align: center;
  margin: 0;
}
