.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    padding: 30px;
}

.playlist-item {
    text-decoration: none;
    text-align: center;

    &:hover {
      .playlist-item__name {
        background-color: var(--main-bg-color);
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0 auto;
        max-width: 200px;
        padding: 10px 0;
      }
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 200px;
    }
}

.playlist-item__name {
  transition: all .2s ease-out;
  background-color: var(--main-bg-darken-color);
  color: var(--main-text);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 0;
}
